* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 10;
}

/* Navigație Generală */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
}
.navbar {
    margin: auto 20px;
    position: fixed; /* Navbar-ul este fixat în partea de sus */
    top: 0;
    width: 100%;
    z-index: 100; /* Se afișează deasupra altor elemente */
    background-color: rgba(0, 0, 0, 0); /* Transparent inițial */
    transition: background-color 0.5s ease; /* Tranziție lină pentru schimbarea culorii */
}



.logo {
    font-size: 1.3rem;
    font-weight: bold;
}
a.logo {
    text-decoration: none;
    outline: none;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-right: 24px;
    align-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: inline-block; /* Schimbă display-ul pentru a permite aplicarea corectă a transformării */
    transition: transform 0.3s ease; /* Adaugă tranziția pe toate link-urile */
}
h3{
    color: #DDB4A0;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* face imaginea rotundă */
    object-fit: cover; /* ajustează imaginea să se potrivească în cerc */
    border: 2px solid #fff; /* margine albă pentru contrast */
}

.profile-text {
    display: none; /* Ascunde textul implicit */
    color: white;
    font-size: 1rem;
}

.nav-links.show .profile-text {
    display: inline-block; /* Afișează textul când meniul este activ */
}

.nav-links.show .avatar-image {
    display: none; /* Ascunde imaginea avatarului când meniul este activ */
}


.nav-links a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.outline-button{
    background-color: transparent;
    color: white;
    padding: 5px;
    border-color: white;
}
.outline-button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    display: block; /* Fiecare linie va fi un element bloc */
    width: 24px; /* Lățimea fiecărei linii */
    height: 3px; /* Înălțimea fiecărei linii */
    background-color: white; /* Culoarea liniilor */
    margin: 5px 0; /* Spațiu între linii */
    transition: 0.3s;
}

/* Dacă meniul este deschis, schimbă aspectul liniilor */
.menu-toggle.open .menu-icon:nth-child(1) {
    transform: rotate(45deg); /* Prima linie devine partea de sus a "X"-ului */
    transform-origin: top left;
}

.menu-toggle.open .menu-icon:nth-child(2) {
    opacity: 0; /* A doua linie dispare */
}

.menu-toggle.open .menu-icon:nth-child(3) {
    transform: rotate(-45deg); /* A treia linie devine partea de jos a "X"-ului */
    transform-origin: bottom left;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/images/main-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px; /* Adaugă padding pentru dispozitive mici */
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.profile-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-avatar img {
    border-radius: 50%;
    border: 4px solid #390007;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#change-avatar-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #390007;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#save-avatar-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #390007;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#save-avatar-btn:hover {
    background: #220105;
}

#change-avatar-btn:hover, #save-avatar-btn:hover {
    background: #220105;
}

#avatar-carousel {
    display: none;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.avatar-option {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.avatar-option:hover {
    border-color: #B05C61;
}

.profile-details h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #DDB4A0;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
}

.label {
    font-weight: bold;
    color: #DDB4A0;
}

.value {
    color: #F8D3B5;
    font-style: italic;
}

@media (max-width: 767px) {

    .profile-container{
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    .background{
        height: fit-content;
        background-repeat: repeat-x;

    }
    .profile-avatar img {
        width: 120px;
        height: 120px;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
    }
    .avatar-option{
        align-self: center;
    }

    .profile-container {
        padding: 10px;
    }

    .profile-box {
        padding: 20px;
    }

    #change-avatar-btn, #save-avatar-btn {
        width: 100%;
        padding: 12px;
    }

    .navbar{
        padding: 20px 20px;
        margin-left: 0;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        margin-right: 1rem;
        right: 0;
        background-color: rgba(
                0,
                0,
                0,
                1
        ); /* Fundal semi-transparent pentru a nu se suprapune cu conținutul */
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 20; /* Meniul va fi deasupra conținutului */
        opacity: 0; /* Inițial ascuns */
        transform: translateY(-20px); /* Poziționare de pornire */
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-links.show {
        display: flex;
        opacity: 1;
        transform: translateY(0); /* Efect de deschidere din sus */
    }

    .menu-toggle {
        display: block;
        padding-right: 20px;
    }

    .outline-button{
        background-color: transparent;
        color: white;
        padding: 0;
        border: none;
        text-transform: uppercase;
    }

}
