.carousel-title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}
:root {
    --swiper-theme-color: #39007;
}

.movie-card h3 {
    font-size: 0.9em;
}

.movie-card p {
    font-size: 0.8em;
}
.swiper-button-next, .swiper-button-prev{
    color: #390007;

}

.swiper-pagination-bullet, .swiper-pagination-bullet-active{
    background-color: #390007; !important;
}

@media (max-width: 768px) {
    .swiper-slide {
        max-width: 200px;
    }

    .movie-card {
        height: auto;
    }

    .movie-card img {
        height: 300px;
    }
}

@media (max-width: 300px) {
    .swiper-slide {
        max-width: 100px;
    }

    .movie-card img {
        height: 240px;
    }

    .movie-card h3 {
        font-size: 0.8em;
    }

    .movie-card p {
        font-size: 0.7em;
    }
}
.outline-button {
    background-color: #fff;
    color: #390007;
    border: 2px solid #390007;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.outline-button:hover {
    background-color: #390007;
    color: #fff;
}
#surpriseMeBtn {
    pointer-events: auto;
    opacity: 1;
    background-color: black;
    color: black;
    border: black;
}
